.tweetbox__btngroup {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.tweetbox__tweetbtn {
    padding: 10px 50px;
    border-radius: 25px;
    background-color: #ffff00 
}